.services {
    margin-bottom: 110px;
    margin-top: 80px;
  }
  
  .services-title {
    @include font-size(42px,50px,bold);
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    margin-bottom: 50px;
  }