<section class="services container">
    <h2 class="services-title">OUR MOST POPULAR SERVICES</h2>
    <ul class="unlisting services-list">
      @@include('service-card/index.html', {
        "img":"static/images/services/service1.jpg?1dfsdf",
        "img2x": "static/images/services/service1.jpg",
        "alt":"",
        "href":"#",
        "title":"Tile & Grout Cleaning",
        "description":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
      })
      @@include('service-card/index.html', {
        "img":"static/images/delete.jpg?2",
        "img2x": "static/images/services/service1.jpg",
        "alt":"",
        "href":"#",
        "title":"Tile & Grout Cleaning",
        "description":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
      })
      @@include('service-card/index.html', {
        "img":"static/images/services/service3.jpg?3",
        "img2x": "static/images/services/service1.jpg",
        "alt":"",
        "href":"#",
        "title":"Tile & Grout Cleaning",
        "description":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
      })
      @@include('service-card/index.html', {
        "img":"static/images/services/service4.jpg?4",
        "img2x": "static/images/services/service1.jpg",
        "alt":"",
        "href":"#",
        "title":"Tile & Grout Cleaning",
        "description":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
      })

    </ul>
</section>