
.button {
    display: block;
    text-align: center;
    background: #008752;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    max-width: 181px;
    width: 100%;
    padding: 11px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button-secondary {
    background: #95459A;
  }
  