.button {
    @include button();
    transition: background-color $transition;
    &:hover {
      background-color: $primary-hover;
    }
    &:active {
      background: $primary-active;
    }
  }
  
.button_secondary {
  background: $secondary;
  &:hover {
    background: $secondary-hover;
  }
  &:active {
    background: $secondary-active;
  }
}
  