@import "../../components/vars";
@import "../../components/mixins";

.contact-title {
    @include font-size(50px,97%,900);
    text-align: center;
    color: $blue;
}

.contact-form {
    max-width: 780px;
    width: 100%;
    background: $light-smoke;
    margin: 0 auto 80px;
    padding: 50px 100px;
}