.services-list {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
  }
  
  .services-item {
    margin: 10px;
    max-width: 280px;
    flex-wrap: wrap;
  }
  
  .services-name {
    @include font-size(30px,36px,bold);
    color: #2C3036;
    text-decoration: none;
    margin: 20px 0;
    display: block;
  }