
/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 33px auto;
  &__menu {
    margin: 0 auto 0 25px;
  }
  &__nav {
    display: flex;
    font-weight: bold;
    a {
      color: #333333;
      text-decoration: none;
      margin: 0 15px;
    }
  }
  &__phone {
    margin-right: 24px;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    color: #95459A;
    text-decoration: none;
  }
}