@mixin button ($color:$white,$font-size:15px,$background:$primary) {
    display: block;
    text-align: center;
    background-color: $background;
    color: $color;
    font-weight: bold;
    font-size: $font-size;
    line-height: 18px;
    text-transform: uppercase;
    max-width: 181px;
    width: 100%;
    padding: 11px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
  
@mixin font-size($font-size:16px,$line-height:18px,$font-weight:400) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

%psevdo {
    content:'';
    position: absolute;
    display: block;
}