@import "./vars";

%psevdo {
  content: '';
  display: block;
  position: absolute;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #2C3036;
  margin: 0;
  // @extend %psevdo;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.unlisting {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  font-size: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

fieldset {
  border: none;
  margin: 0 -10px;
}

label,
legend {
  font-size: 18px;
  line-height: 22px;
  color: #6B6A6A;
  margin-bottom: 6px;
}

input,
textarea {
  border: 2px solid #777;
  background: transparent;
  height: 50px;
  padding: 12px 20px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #FFB612;
}

.label-wrapper:focus-within label {
  color: #FFB612;
}

textarea {
  resize: none;
  height: auto;
}

.field-2-column {
  display: flex;
  justify-content: space-between;
}

.field-2-column .label-wrapper {
  max-width: 280px;
  width: 100%;
}


.label-wrapper {
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */

}

.checkbox-list,
.radio-list {
  display: flex;
}

.checkbox-input,
.radio-input {
  display: none;
}

.checkbox-label,
.radio-label {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #6B6A6A;
  padding-left: 30px;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 20px;
}

.checkbox-label:before,
.checkbox-label:after,
.radio-label:before,
.radio-label:after {
  content: "";
  display: block;
  position: absolute;
  
}

.checkbox-label:before,
.radio-label:before  {
  top: -2px;
  left: 1px;
  background: transparent;
  border: 2px solid #777;
  width: 21px;
  height: 21px;
}

.checkbox-label:after,
.radio-label:after {
  top: 2px;
  left: 5px;
  background: #95459A;
  width: 17px;
  height: 17px;
  opacity: 0;
}

.radio-label:before,
.radio-label:after {
  border-radius: 50%;
}

.checkbox-input:checked + .checkbox-label:after,
.radio-input:checked + .radio-label:after {
  opacity: 1;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./map/map";
@import "./services/services";
@import "./service-card/service-card";
@import "./brand/brand";
@import "./popup/popup";
