.footer {
  background: #00559D;
  padding: 53px 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-title {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
}
.social {
  display: flex;
}
.social li {
  margin-left: 16px;
}