.footer {
  background: $blue;
  padding: 53px 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-title {
  @include font-size(40px,130%,900);
  color: $white;
}
.social {
  display: flex;
}
.social li {
  margin-left: 16px;
}