
/* MAP */

.map {
  .container{
    position: relative;
  }
  &__wrapper {
    @include font-size(15px,18px);
    background: $primary;
    max-width: 380px;
    width: 100%;
    padding: 53px 44px;
    position: absolute;
    top: 40px;
    left: 0;
    color: $white;
  }
  &__title {
    @include font-size(30px,36px,900);
    margin: 0 0 16px;
  }
  &__phone {
    color: $white;
    text-decoration: none;
    margin: 23px 0;
    display: block;
  }
}
  